.target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cells {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  max-width: 1000px;
}

.cell {
  height: 30px;
  width: 15px;
  background-color: aqua;
}

.cell-successful {
  background-color: orange;
}

.cell-stat-boosted {
  background-color: rgb(255, 230, 0);
}

.cell-current {
  background-color: red;
}